mixin transactionDisplay(transactions = {})
  - const categories = h.display.getCategories(transactions)
  each cat in categories
    h3= cat
    - const catTrans = h.display.getTransactions(transactions, cat)
    table
      tr
        th Info
        th Price
        th Date
        th Edit
      each trans in catTrans
        tr
          td= trans.info
          td= h.display.toPrice(trans.price)
          td= h.display.displayAsDate(trans.date)
          td
            a(href=`/transactions/${trans._id}/edit`)
              != h.icon('pencil')